@media screen and (max-width:760px){
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }
}