body{
    background-color: rgb( 34,34 ,34);
    color: white;
    font-family: 'Poppins', sans-serif ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 25px;
    color: white;
}

li:hover{
    transition: 0.4 all;
    color: rgb(132, 13, 201);
    font-family: 'Poppins', sans-serif ;

}

#btn-conta{
    border: 2px solid rgb(132, 13, 201);
    padding: 10px;
    border-radius: 15px;
    color: white;
    
    
}

#btn-conta:hover{
    transition: 0.4;
    background-color: rgb(132, 13, 201) ;
    color: white;
}

h1{
    font-weight: 250;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

h2{
    font-size: 62px;
    font-weight: 80%;
    line-height: 10px;
    font-family: 'Poppins', sans-serif ; 
}

span{
    color: rgb(132, 13, 201);
}

p{
    margin-bottom: 30px;
    font-family:'Poppins', sans-serif ;
}

img{
    width: 650px
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 20%;
    width: 50%;
    background-color: rgb(132, 13, 201) ;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
     cursor: pointer;
     transform: 0.5;
     background-color: rgb(120, 28, 174)
}

input{
       margin-top: 20px;
       height: 20px;
       padding: 13px;
       border-radius: 20px;
       border: none;
       font-size: 15px;
       font-family:'Poppins', sans-serif ;
}
